core-main-registry-app==2.2.*
core-explore-keyword-app==2.2.*
# FIXME: Remove when data source decoupled. See build_count() in ajax.py.
core-explore-oaipmh-app==2.2.*
core-oaipmh-harvester-app==2.2.*
