<table id="icons_table" style="display: none; padding: 15px;">
    <tr>
        <td id="td_all" align="center">
            <i class="fa fa-globe fa-5x" aria-hidden="true" style="color: #557EB9"></i>
            <div class="tick" align="right">
                 <i class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i>
            </div>
            <br/>
            All Resources
        </td>
        <td id="td_organization" align="center" class="{% if 'Organization' in data.refinement_selected_types %} selected_resource {% endif %}">
            <i class="fa fa-university fa-5x" aria-hidden="true" style="color: #2CAAE2;"></i>
            <div class="tick" align="right">
                 <i class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i>
            </div>
            <br>
            Organization
        </td>
        <td id="td_dataCollection"  align="center" class="{% if 'Collection' in data.refinement_selected_types %} selected_resource {% endif %}">
            <i class="fa fa-table fa-5x" aria-hidden="true" style="color: #A1C057;"></i>
            <div class="tick" align="right">
                 <i class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i>
            </div>
            <br>
            Collection
        </td>
        <td id="td_dataset" align="center" class="{% if 'Dataset' in data.refinement_selected_types %} selected_resource {% endif %}">
            <i class="fa fa-database fa-5x" aria-hidden="true" style="color: grey;"></i>
            <div class="tick" align="right">
                 <i class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i>
            </div>
            <br>
            Dataset
        </td>
        <td id="td_serviceAPI" align="center" class="{% if 'Service' in data.refinement_selected_types %} selected_resource {% endif %}">
            <i class="fa fa-cogs fa-5x" aria-hidden="true" style="color: #EBB057;"></i>
            <div class="tick" align="right">
                 <i class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i>
            </div>
            <br>
            Service
        </td>
        <td id="td_software" align="center" class="{% if 'Software' in data.refinement_selected_types %} selected_resource {% endif %}">
            <i class="fa fa-tachometer fa-5x" aria-hidden="true" style="color: #79B320;"></i>
            <div class="tick" align="right">
                 <i class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i>
            </div>
            <br>
            Software
        </td>
        <td id="td_webSite" align="center" class="{% if 'Web Site' in data.refinement_selected_types %} selected_resource {% endif %}">
            <i class="fa fa-laptop fa-5x" aria-hidden="true" style="color: #257ABC;"></i>
            <div class="tick" align="right">
                 <i class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i>
            </div>
            <br>
            Informational Sites
        </td>
    </tr>
</table>