{%load get_attribute%}
{% if data.error %}
    <div class="alert alert-danger"><i class="fas fa-times-circle"></i>
        {{ data.error }}
    </div>
{% else %}
    {% if data.warning %}
        <div class="alert alert-warning"><i class="fas fa-exclamation-triangle"></i>
            {{ data.warning }}
        </div>
    {% endif %}
    <form id="form_search" action="{% url 'core_explore_keyword_app_search' %}" method="POST">
        {% csrf_token %}
        <div class="row row_index">
            <div class="w-100 d-flex">
                {% include 'core_explore_keyword_app/user/search_bar.html' %}
            </div>
            <div class="w-100">
                {% include 'core_main_registry_app/resource_banner/resource_banner.html' %}
            </div>
            <div class="w-100">
                <div id="filters_refinements" class="filters-refinements">
                    <text>Search criteria used
                        (<a href="javascript:void(0)" class="clearAll">Clear all</a>):
                    </text>
                    <div id="results_infos"></div>
                    <input id="category-filters" />
                    <div class="category-list" style="display: none;">{{data|get_attribute:'category_list'}}</div>
                </div>
            </div>
            <div class="col-md-3 search-left-panel">
                {% include data.data_sources_selector_template %}
                {% if data.allow_multiple_schemas %}
                    {% include 'core_explore_keyword_app/user/template_filter.html' %}
                {% endif %}
                {% include "core_explore_keyword_registry_app/user/refinements.html" %}
            </div>
            <div class="col-md-9">
                {% include "core_explore_common_app/user/results/results.html" %}
            </div>
        </div>
    </form>
{% endif %}


